apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeSelectors: true
    pairs:
      app: credstack
resources:
  - deployment.yaml
  - service.yaml

helmCharts:
  - name: mongodb
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 18.1.9
    namespace: credstack
    valuesInline:
      architecture: "standalone"
      auth:
        enabled: true
        usernames: ["mongo_credstack_api"]
        databases: ["credstack"]
configMapGenerator:
  - name: credstack-config
    literals:
      - CREDSTACK_MONGO_HOSTNAME=mongo-svc.default.svc.cluster.local
      - CREDSTACK_MONGO_PORT=27017
      - CREDSTACK_MONGO_DEFAULT_DATABASE=credstack
      - CREDSTACK_MONGO_USE_AUTHENTICATION=true