apiVersion: v1
kind: Service
metadata:
  name: credstack-svc
spec:
  selector:
    app: credstack
  ports:
    - port: 80
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-svc
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017