apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: credstack
  name: credstack-api
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: credstack
  strategy: {}
  template:
    metadata:
      labels:
        app: credstack
    spec:
      containers:
      - image: {{ .Values.deployment.image.name }}:{{ .Chart.AppVersion }}
        name: credstack
        - containerPort: 80
        args: ["--port", "80"]
        envFrom:
          configMapRef:
            name: {{ .Release.Name }}-cm