apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: "go-fiber"
    app.kubernetes.io/part-of: "credstack"
    app.kubernetes.io/component: "api"
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
  name: credstack-api
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: "go-fiber"
      app.kubernetes.io/part-of: "credstack"
      app.kubernetes.io/component: "api"
      app.kubernetes.io/version: {{ .Chart.AppVersion }}
  strategy: {}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "go-fiber"
        app.kubernetes.io/part-of: "credstack"
        app.kubernetes.io/component: "api"
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
    spec:
      containers:
      - image: {{ .Values.deployment.image.name }}:{{ .Chart.AppVersion }}
        name: credstack-api
        ports:
          - name: HTTP
            containerPort: 80
        envFrom:
          configMapRef:
            name: {{ .Release.Name }}-cm
        resources:
          requests:
            cpu: {{ .Values.deployment.resources.requests.cpu }}
            memory: {{ .Values.deployment.resources.requests.memory }}
          limits:
            cpu: {{ .Values.deployment.resources.limits.cpu }}
            memory: {{ .Values.deployment.resources.limits.cpu }}