apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: credstack
  name: credstack-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: credstack
  strategy: {}
  template:
    metadata:
      labels:
        app: credstack
    spec:
      containers:
      - image: credstack/credstack:v1.3.7
        name: credstack
        - containerPort: 80
        {{ if .Values.credstack.api.debug }} # 80 will be the default in a future version
        args: ["--port", "80", "--debug"]
        {{ else }}
        args: ["--port", "80", "--debug"]
        {{ end }}
        envFrom:
          configMapRef:
            name: {{ .Release.Name }}-cm