{{ if.Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: credstack-ingress
spec:
  ingressClassName: {{ .Values.ingress.class }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - backend:
          service:
            name: {{ .Release.Name }}-svc
            port:
              {{ if .Values.credstack.api.tls.enabled }}
              number: 443
              {{ else }}
              number: 80
              {{ end }}
        path: /
        pathType: Prefix
{{ end }}