deployment:
  replicas: 1
  image:
    name: "credstack/credstack-api"
  service:
    type: LoadBalancer
    port: 443

ingress:
  enabled: true
  host: "credstack.local"
  class: ""
  tls:
    enabled: true
    secretRef: "credstack-ingress-tls"

credstack:
  mongo:
    hostname: "mongo.local"
    port: 27017
    defaultDatabase: "credstack"
    authDatabase: "admin"
    secretRef: ""

  userCredentials:
    time: 1
    memory: 2048
    threads: 1
    minSecretLength: 12
    maxSecretLength: 48

  api:
    debug: false
    prefork: false
    skipPreflight: false
    tls:
      enabled: true
      secretRef: "credstack-api-tls"